@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Inter", sans-serif;
    background-color: ivory;
    padding: 0;
    margin: 0;
    background-image: url('images/Bakgrunn.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}   

.info-boxes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem auto;
    max-width: 90%;
    flex-wrap: wrap;
}

.info-box {
    border-radius: 1rem;
    border-color: #D1D5DB;
    border-width: 2px;
    background: #ececec;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
                0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    flex: 1 1 220px;
    min-width: 25% auto;
    max-width: 40% auto;
    text-align: center; 
    transition: box-shadow 0.2s;
}
.info-box h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
    color: #0C1524;   
    border-color: transparent;
    border-bottom: #D1D5DB;
    border-style: dotted;
}
.info-box p {
    font-size: 1rem;
    color: #333;
}

.navbar {
    background-color: #96999d;
    height: 4.7rem;
    display: flex;
    justify-content: left;
    align-items: top;
}
.navbar a {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: ivory;    
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 2rem;
    border: 2px solid transparent;
    transition: color 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.navbar a:hover {
    color: #aee5ff;   
    border-radius: 5px;
}
.navbar a.active {
    color: #aee5ff;
    border-radius: 5px;
}
.navbar img {
    border-color: transparent;
    border-right: ivory;
    border-style: dotted;
}
.medlem_oversikt {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
}
.medlem_instans {
    padding: 0;
    width: auto;
    border-style: solid;
    border-radius: 2.6rem;
    border-color: #D1D5DB;
    border-width: 2px;
    background-color: #ececec;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
                0 1px 2px rgba(0, 0, 0, 0.06);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    box-sizing: border-box;
}
.Personbilde {
    width: 100%;
    height: auto;
    border-radius:5%;
    object-fit:cover;
    margin-bottom:0px;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    padding: 0;
}
.medlem_instans_tekst_boks {
    font-family: "Consolas", "Andale Mono", "Lucida Console", monospace;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem;
    padding-right: 0rem;
}
.medlem_instans p {
    margin: 0;
    margin-bottom: 0.4rem;
}
.medlem_instans em {
    margin-left: 0.2rem;
}
.kontaktinfo {
    color: black;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    padding: 0
}
.kontaktinfo a {
    text-decoration: none;
    color: black;
}
.linkedin img {
    width: 17.5px;
    height: 17.5px;
}
.linkedin {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0
}
.tlf_mail {
    font-size: small;
    padding-top: 0rem;
    padding: 0
}
.medlem_attributter {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.medlem_attributter text {
    border-color: #D1D5DB;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: large;
    background-color: gold;
}
.medlem_attributter text:hover {
    background-color: lightgreen;
}
h1 {
    text-align: center;    
    font-size: 3rem;
}

@media (max-width: 1520px) {
  .medlem_oversikt {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}